<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>

<head>
  <title>Control Panel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
  <style>
  </style>

  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>Human To Human Control Panel</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <form>
          <input id="serverURLInput" type="text" placeholder="Server URL" />
          <input id="passwordInput" type="password" placeholder="password" />
          <button id="setServerButton">Go</button>
        </form>
      </div>
    </div>

    <div id="errorMessageRow" class="row invisible">
      <div class="col-10">
        <div id="errorMessage"></div>
      </div>
    </div>

    <div id="controlPanel" class="row invisible">

      <div class="col-4">
        <h2>Clear Database</h2>
        <form>
          <input id="clearFullInput" type="text" placeholder="full?" />
          <button id="clearServerButton">Clear</button>
        </form>
      </div>

      <div class="col-4">
        <h2>Add Experiment</h2>
        <form>
          <input id="addExperimentIDInput" type="text" placeholder="identifer" />
          <input id="addExperimentConsentFormInput" type="text" placeholder="consent form" />
          <input id="addExperimentDescriptionInput" type="text" placeholder="description" />
          <button id="addExperimentButton">Add</button>
        </form>
      </div>

      <div class="col-4">
        <h2>Delete Experiment</h2>
        <form>
          <input id="deleteExperimentID" type="text" placeholder="identifer" />
          <button id="deleteExperimentButton">Delete</button>
        </form>
      </div>

      <div class="col-4">
        <h2>Download Experiment Nodes</h2>
        <form>
          <input id="downloadExperimentNodesID" type="text" placeholder="identifer" />
          <button id="downloadExperimentNodesButton">Download</button>
        </form>
      </div>

      <div class="col-4">
        <h2>Download Experiment Edges</h2>
        <form>
          <input id="downloadExperimentEdgesID" type="text" placeholder="identifer" />
          <button id="downloadExperimentEdgesButton">Download</button>
        </form>
      </div>

    </div>

  </div>

  <script>
    let serverURL;
    let serverPassword;
    const serverURLInput = document.getElementById("serverURLInput");
    const passwordInput = document.getElementById("passwordInput");

    const controlPanel = document.getElementById("controlPanel");

    const errorMessageRow = document.getElementById("errorMessageRow");
    const errorMessage = document.getElementById("errorMessage");

    const addExperimentIDInput = document.getElementById("addExperimentIDInput");
    const addExperimentConsentFormInput = document.getElementById("addExperimentConsentFormInput");
    const addExperimentDescriptionInput = document.getElementById("addExperimentDescriptionInput");

    const clearFullInput = document.getElementById("clearFullInput");

    const deleteExperimentIDInput = document.getElementById("deleteExperimentID");

    const downloadExperimentNodesIDInput = document.getElementById("downloadExperimentNodesID");

    const downloadExperimentEdgesIDInput = document.getElementById("downloadExperimentEdgesID");


    async function openServerConnection(url, password) {
      try {
        urlString = url.replace(new RegExp('[/]+$', 'g'), ''); 
        url = new URL(urlString + + '/login');
        url.search = new URLSearchParams({
          password: password,
        });
        const resp = await fetch(url);
        const data = await resp.json();
        if (data === true) {
          serverURL = urlString;
          serverPassword = password;
          errorMessageRow.classList.add("invisible");
          controlPanel.classList.remove("invisible");
        } else {
          controlPanel.classList.add("invisible");
          errorMessageRow.classList.remove("invisible");
          errorMessage.innerHTML = "couldn't login to server: login didn't work";
        }
      } catch (e) {
        controlPanel.classList.add("invisible");
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't login to server: " + e;
      }
    }

    async function clearServer() {
      try {
        const params = new URLSearchParams({
          full: clearFullInput.value,
          password: serverPassword,
        });
        const resp = await fetch(serverURL + "/clear", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: params,
        });
        const data = await resp.json();
        errorMessageRow.classList.add("invisible");
      } catch (e) {
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't clear server: " + e;
        console.log(e);
      }
    }

    async function addExperiment() {
      try {
        const params = new URLSearchParams({
          password: serverPassword,
          id: addExperimentIDInput.value,
          description: addExperimentDescriptionInput.value,
          policy: addExperimentConsentFormInput.value,
        });
        const resp = await fetch(serverURL + "/addExperiment", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: params,
        });

        if (resp.status != 200) {
          const data = await resp.json();
          errorMessageRow.classList.remove("invisible");
          errorMessage.innerHTML = "couldn't add experiment: " + data.message;
        } else {
          errorMessageRow.classList.add("invisible");
        }
      } catch (e) {
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't add experiment: " + e;
        console.log(e);
      }
    }

    async function deleteExperiment() {
      try {
        const params = new URLSearchParams({
          password: serverPassword,
          experiment: deleteExperimentIDInput.value,
        });
        const resp = await fetch(serverURL + "/deleteExperiment", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: params,
        });

        if (resp.status != 200) {
          const data = await resp.json();
          errorMessageRow.classList.remove("invisible");
          errorMessage.innerHTML = "couldn't delete experiment: " + data.message;
        } else {
          errorMessageRow.classList.add("invisible");
        }
      } catch (e) {
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't delete experiment: " + e;
      }
    }

    async function getNodesCSV() {
      const experimentURL = serverURL + "/experiment/" + downloadExperimentNodesIDInput.value;
      try {
        const resp = await fetch(experimentURL + "/exists");
        const exists = await resp.json();
        if (!exists) {
          errorMessageRow.classList.remove("invisible");
          errorMessage.innerHTML = "couldn't download experiment nodes: experiment doesn't exist";
          return;
        }

        const url = experimentURL + "/devices.csv?password=" + serverPassword;
        window.location.href = url;
      } catch (e) {
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't download experiment nodes: " + e;
      }
    }

    async function getEdgesCSV() {
      const experimentURL = serverURL + "/experiment/" + downloadExperimentEdgesIDInput.value;
      try {
        const resp = await fetch(experimentURL + "/exists");
        const exists = await resp.json();
        if (!exists) {
          errorMessageRow.classList.remove("invisible");
          errorMessage.innerHTML = "couldn't download experiment edges: experiment doesn't exist";
          return;
        }

        const url = experimentURL + "/connections.csv?password=" + serverPassword;
        window.location.href = url;
      } catch (e) {
        errorMessageRow.classList.remove("invisible");
        errorMessage.innerHTML = "couldn't download experiment edges: " + e;
      }
    }

    document.getElementById("downloadExperimentNodesButton").onclick = function(e) {
      e.preventDefault();
      getNodesCSV();
    };

    document.getElementById("downloadExperimentEdgesButton").onclick = function(e) {
      e.preventDefault();
      getEdgesCSV();
    };

    document.getElementById("deleteExperimentButton").onclick = function(e) {
      e.preventDefault();
      deleteExperiment();
    };

    document.getElementById("addExperimentButton").onclick = function(e) {
      e.preventDefault();
      addExperiment();
    };

    document.getElementById("clearServerButton").onclick = function(e) {
      e.preventDefault();
      clearServer();
    };

    document.getElementById("setServerButton").onclick = function(e) {
      e.preventDefault();
      openServerConnection(serverURLInput.value, passwordInput.value);
    };
  </script>

</body>


</html>
